<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
       
      <a class="navbar-brand" href="/admin">Panel de control</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDarkDropdown"
        aria-controls="navbarNavDarkDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDarkDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fas fa-bars"></i>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-dark"
              aria-labelledby="navbarDarkDropdownMenuLink"
            >
           
              <li>
                <a
                  class="dropdown-item"
                  href="/admin/products/new"
                  >Agregar</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="/"
                  >Volver al home</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
      
        <div class="container-icon flex" id="car">
            <a href="/user/profile">
            </a>
            
        </div>
    <div class="container-icon flex">
        <a href="/user/login"><i class="fas fa-user"></i></a>
    </div>
    </div>
  </nav>
 