


/* BUTTONS */

.btn {
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    height: 2.5rem;
    text-transform: uppercase;
    font-weight: bold;

    padding: 5px;
}

.btn-submit {
    background: linear-gradient(to left, #F11712, #0099F7) !important;
    color: rgb(255 254 254);
    transition: all 0.3s ease-in-out;
}

.btn-submit:hover {
    color: rgb(172, 172, 172);
    box-shadow: -5px -5px 10px rgba(255, 255, 255, .7);
    background: linear-gradient(285deg, rgba(255, 255, 255, 0.5) 0%, rgba(39, 255, 232, 0.5) 50%);
}

.btn-reset {
    background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(39, 151, 255, 0.5) 50%);
    color: rgb(75, 75, 75);
    transition: all 0.3s ease-in-out;
}

.btn-reset:hover {
    color: rgb(172, 172, 172);
    box-shadow: -5px -5px 10px rgb(255, 255, 255, 0.7);
    background: linear-gradient(285deg, rgba(255, 255, 255, 0.5) 0%, rgba(39, 151, 255, 0.5) 50%);
}

.btn-edit {
    background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(43, 236, 124, 0.5) 50%);
    color: rgb(75, 75, 75);
    transition: all 0.3s ease-in-out;
}

.btn-edit:hover {
    color: rgb(172, 172, 172);
    box-shadow: -5px -5px 10px rgb(255, 255, 255, 0.7);
    background: linear-gradient(285deg, rgba(255, 255, 255, 0.5) 0%, rgba(43, 236, 124, 0.5) 50%);
}