<!--<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrousel.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 
    <title>carrousel</title>
</head>-->
<body>
    <main>
        <div class="peliculas-recomendadas contenedor">
            <div class="contenedor-titulo-controles">
                <h3>Estrenos</h3>
                <div class="indicadores"></div>
            </div>

            <div class="contenedor-principal">
                <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class="fas fa-angle-left"></i></button>

                <div class="contenedor-carousel">
                    <div class="carousel">
                        <div class="pelicula">
                            <a href="#"><img  style="object-fit: contain;" class="imgc" src="/images/carrousel/banner.png" alt=""></a>
                        </div>
                        <div class="pelicula">
                            <a href="#"><img class="imgc" src="/img/2.jpg" alt=""></a>
                        </div>
                        <div class="pelicula">
                            <a href="#"><img class="imgc" src="/img/3.jpg" alt=""></a>
                        </div>
                        <div class="pelicula">
                            <a href="#"><img class="imgc" src="/img/4.jpg" alt=""></a>
                        </div>
                        <div class="pelicula">
                            <a href="#"><img class="imgc" src="/img/5.jpg" alt=""></a>
                        </div>
                        <div class="pelicula">
                            <a href="#"><img class="imgc" src="/img/6.jpg" alt=""></a>
                        </div>
                        <div class="pelicula">
                            <a href="#"><img class="imgc" src="/img/7.jpg" alt=""></a>
                        </div>
                        <div class="pelicula">
                            <a href="#"><img class="imgc" src="/img/8.jpg" alt=""></a>
                        </div>
                        <div class="pelicula">
                            <a href="#"><img class="imgc" src="/img/9.jpg" alt=""></a>
                        </div>
                        <div class="pelicula">
                            <a href="#"><img src="/img/10.jpg" alt=""></a>
                        </div>
                        <div class="pelicula">
                            <a href="#"><img src="/img/11.jpg" alt=""></a>
                        </div>
                        <div class="pelicula">
                            <a href="#"><img src="/img/12.jpg" alt=""></a>
                        </div>
                        <div class="pelicula">
                            <a href="#"><img src="/img/13.jpg" alt=""></a>
                        </div>
                        <div class="pelicula">
                            <a href="#"><img src="/img/14.jpg" alt=""></a>
                        </div>
                        <div class="pelicula">
                            <a href="#"><img src="/img/15.jpg" alt=""></a>
                        </div>
                        <div class="pelicula">
                            <a href="#"><img src="/img/16.jpg" alt=""></a>
                        </div>
                        <div class="pelicula">
                            <a href="#"><img src="/img/17.jpg" alt=""></a>
                        </div>
                        <div class="pelicula">
                            <a href="#"><img src="/img/18.jpg" alt=""></a>
                        </div>
                        <div class="pelicula">
                            <a href="#"><img src="/img/19.jpg" alt=""></a>
                        </div>
                        <div class="pelicula">
                            <a href="#"><img src="/img/20.jpg" alt=""></a>
                        </div>
                    
                <button role="button" id="flecha-derecha" class="flecha-derecha"><i class="fas fa-angle-right"></i></button>
            </div>
        </div>
    </main>
    
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    <script src="/js/carrousel.js"></script>
</body>
</html>
	
	
	
