<footer class="flex-container-footer">
    <div class="info">
        <ul class="flexitem">
            <li><a href="#">Privacidad</li>
            <li><a href="#">Términos y condiciones</li>
            <li><a href="#">Sobre nosotros</a></li>
        </ul>
    </div>
    <div class="redes-flex">
       
        <ul class="redes">
            <a href="https://es-la.facebook.com/"><img class="icon" src="../public/design/images/icons/logofacebook.png"></a>
            <a href="https://www.instagram.com/"><img class="icon" src="../public/design/images/icons/logoinstagram.png"></a>
            <a href="https://www.google.es/"><img class="icon" src="../public/design/images/icons/logogoogle.png"></a>
        

           
    </div>
</footer>