<footer class="flex">
    <div class="info-personal">
        <ul class="flex">
            <li><a href="/faq/privacidad">Privacidad</li>
            <li><a href="/faq/terminos-y-condiciones">Terminos y Condiciones</li>
            <li><a href="/faq/sobre-nosotros">Sobre Nosotros</a></li>
            <li><a href="/faq/contacto">Contacto</a></li>
        </ul>
    </div>
    <div class="redes-sociales flex">
        <span>siguenos</span>
        <ul class="flex">
            <li><a href="http://www.facebook.com"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="http://www.youtube.com"><i class="fab fa-youtube-square"></i></a></li>
            <li><a href="http://www.instagram.com"><i class="fab fa-instagram-square"></i></a></li>
            <li><a href="http://www.twitter.com"><i class="fab fa-twitter-square"></i></a></li>
        </ul>
    </div>
</footer>