<html>
    <head>
        <link rel="stylesheet" href="/public/css/listadoPeliculas.css">
    </head>
    <body>
            <header>
                <p>
                    TRIMOVI
                </p>
                <nav>
                  <ul>
                      <li>
                          <a href="/peliculas/crear">CREATE MOVIE</a>
                      </li>
                      <li>
                          <a href="/">BACK HOME </a>
                      </li>
                  </ul>
                </nav>
            </header>
            