<%- include('header') -%>
<h1>list of movie</h1>
<ul>
    <% for (let i = 0; i < movies.lenght; i++) {
        %>
        <li>
            <a href="/movies/<%=movies[i].id%>">
            <%=movies[i].title%>
        </a>
        </li>
  <% } %>  
</ul>
<%- include('footer') -%>
