
  <body class="login-body">
    <!DOCTYPE html>
    <html lang="es">
    
      <%- include ('../partials/head', {titulo}) %>

      <body>
          <%- include('../partials/header1') %>
    <main class="login-container">
      <div class="login">
       <article class="fondo">
          <div style="width: 200px;" class="mb-4">
            <a href="/"><img src="/design/images/icons/logo.png" alt="User"></a>

            <h1>¡Gracias por contactarnos!</h1>
          </div>   
        
</article>
</main>
</body>

</html>