<!DOCTYPE html>
<html lang="es">
    <%- include ('../partials/head', {titulo}) %>
  
<body >
    <%- include ('../partials/header1') %>

    <main class="grupo3" >
        <div class="peliculas-recomendadas contenedor"   ">
            <div class="contenedor-titulo-controles">
                <h3>Grupo 3</h3>
            </div>

           <div class="contenedor-principal">

                <div class="contenedor-carousel" style= "background: linear-gradient(to left, #F11712, #0099F7) !important;  ">
                    <div class="carousel">
                        <div class="pelicula" style="object-fit: contain;">
                            <h5>Agustina Belén Giménez</h5>
                            <img src="/design/images/AboutUs/20220215_154547(1).jpg" alt="" style="object-fit: contain;">
                            <div class="indicadores">
                            
                            <ul class="ul-text">
                                <li> Programadora</p>
                            </li>
                            </ul>
                            </div>
                        </div>
                        <div class="pelicula">
                            <h5>Julia Fabris</h5>
                            <img class="imgabout" src="/design/images/AboutUs/WhatsApp Image 2022-03-26 at 11.33.34.jpeg" alt="" style="width: 25px;">
                            <div class="indicadores">
                            <ul class="ul-text">
                                <li> FullStack web developer <br y emprendedora</p>
                            </li>
                            </ul>
                            </div>
                        </div>
                        <div class="pelicula">
                            <h5>Diego Alejandro Rodal</h5>
                            <img class="imgabout" src="/design/images/AboutUs/diego.png" alt="">
                            <div class="indicadores">
                            <ul class="ul-text">
                                <li>Developer Fullstack</p>
                            </li>
                            </ul>
                            </div>
                        </div>
                       <div class="pelicula">
                            <h5>Fernando Edgar Ríos</h5>
                            <img class="imgabout" src="/design/images/carrousel/1.jpg" alt="">
                            <div class="indicadores">
                            <ul class="ul-text">
                                <li>Developer Fullstack</p>
                            </li>
                            </ul>
                            </div>
                        </div>
                        
            </div>
        </div>
    </main>
    <%- include ('../partials/footer1') %>

    
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    <script src="../js/sobreNosotros.js "></script>
</body>
</html>
	
	
	

<!-- cambiar 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOBRE NOSOTROS</title>
</head>
<body>
</body>
</html>-->