<!DOCTYPE html>

<html lang="es">

<body>
    <main class="terms-condiciones">

        <article>
            <h1>Términos de uso de TRIMOVI</h1>
            <p>
                TriMovi brinda un servicio de suscripción personalizado que permite a nuestros miembros acceder a
                contenido de entretenimiento (el “contenido de TRIMOVI”) a través de internet en ciertas TV,
                computadoras y otros dispositivos conectados a internet (“dispositivos listos para TRIMOVI”).
            </p>
            <p>
                Los presentes Términos de uso rigen la utilización que haga de nuestro servicio. Según se utilicen en
                estos Términos de uso, las frases “el servicio de TRIMOVI”, “nuestro servicio” o “el servicio” se
                refieren al servicio personalizado brindado por TRIMOVI para descubrir y acceder al contenido de
                TRIMOVI, incluidas todas las características y funcionalidades, recomendaciones y críticas, nuestros
                sitios web y las interfaces de usuario, además de todo el contenido y software asociado a nuestro
                servicio.
            </p>

                <h2>Membresía</h2>
                <ol>
                    <li>
                        <p>
                            Su membresía de TRIMOVI continuará hasta que la cancele. Para usar el servicio de TRIMOVI, debe
                        tener acceso a internet y un dispositivo listo para TRIMOVI, y proporcionar una o más Formas de pago.
                        “Forma de pago” significa una forma de pago actual, válida y aceptada, que pueda actualizarse
                        periódicamente y que admita pagos a través de terceros. A menos que cancele su membresía antes de la
                        fecha de facturación, nos autoriza a cobrarle la membresía del siguiente ciclo de facturación a su Forma
                        de pago (ver “Cancelación” a continuación).
                        </p>
                    </li> 
                

                

            <li>
                <p>
                     Podemos ofrecer diversos planes de membresía, incluidas las membresías que se ofrecen a través de
                terceros junto con la provisión de sus propios productos y servicios. No somos responsables por los
                productos y servicios provistos por dichos terceros. Ciertas membresías tienen condiciones y
                limitaciones diferentes que se aclaran en el acuerdo de suscripción o en otras comunicaciones. Podrá
                encontrar la información específica sobre su membresía de TRIMOVI visitando el sitio web TRIMOVI.com y
                haciendo clic en el vínculo “Cuenta”, disponible en la parte superior de las páginas bajo su nombre de
                perfil.
                Ofertas promocionales. Ocasionalmente, podríamos hacer ofertas especiales de promociones, planes o
                membresías (“Ofertas”). TRIMOVI determina los requisitos para acceder a la Oferta a su exclusivo
                criterio, y nos reservamos el derecho de revocar una Oferta y suspender su cuenta si determinamos que
                usted no es elegible. Los miembros en hogares con una membresía de TRIMOVI existente o reciente podrían
                no ser elegibles para ciertas Ofertas de introducción. Podemos utilizar información como el Id. del
                dispositivo, la forma de pago o la dirección de email de la cuenta utilizada con una membresía de
                TRIMOVI existente o reciente para determinar la elegibilidad de la Oferta. Los requisitos de
                elegibilidad y otras limitaciones y condiciones se le informarán cuando se suscriba a la Oferta o en
                otras comunicaciones puestas a su disposición.</li></p>
                
                <h2>Facturación y cancelación</h2>

                <li>
                <p>Ciclo de facturación. Los cargos de membresía por el servicio de TRIMOVI y cualquier otro cargo en
                el que incurra en relación con el uso que haga del servicio de TRIMOVI, como impuestos y posibles gastos
                de transacción, se cobrarán a su Forma de pago en la fecha de pago específica indicada en la página
                “Cuenta”. La duración de su ciclo de facturación dependerá del tipo de membresía que haya seleccionado
                al suscribirse al servicio. En ciertos casos, su fecha de pago podría cambiar, por ejemplo, si no se
                pudo hacer el cobro con su Forma de pago satisfactoriamente, cuando cambie su plan de suscripción, o si
                su membresía pagada comenzó un día que no está incluido en un determinado mes. Visite el sitio web
                TRIMOVI.com y haga clic en el vínculo “Información de facturación”, en la página “Cuenta” para ver su
                próxima fecha de pago. Podemos autorizar su Forma de pago antes del cobro relacionado con la membresía o
                el servicio a través de varios métodos, e incluso autorizarla para que dure aproximadamente un mes de
                servicio a partir de su registro. Si se suscribió a TRIMOVI usando su cuenta con un tercero como Forma
                de pago, puede encontrar la información sobre la facturación de su membresía de TRIMOVI en su cuenta
                correspondiente del servicio del tercero.</p></li>

                <li><p>Formas de pago. Para usar el servicio de TRIMOVI debe proveer una forma de pago o más. Nos autoriza
                a hacer cargos a cualquier forma de pago asociada con su cuenta en caso del rechazo o indisponibilidad
                de su forma de pago principal. Cualquier cargo pendiente le corresponderá a usted. Si el pago no se
                pudiera hacer satisfactoriamente, debido a la fecha de vencimiento, la falta de fondos o si usted no
                actualiza la información de su forma de pago o cancela su cuenta, podemos suspender su acceso al
                servicio hasta que obtengamos una forma de pago válida. Para algunas formas de pago, el emisor puede
                cobrarle ciertos cargos, como cargos de transacción extranjera u otros cargos relacionados con el
                procesamiento de su forma de pago. Los impuestos locales varían en función de la Forma de pago usada.
                Consulte con el proveedor de servicios de su forma de pago para obtener información.</p></li>

                <li><p>Actualización de sus Formas de pago. Se puede actualizar su forma de pago en "Cuenta". También se
                puede actualizar la forma de pago con la información provista por el proveedor de servicios de pago
                correspondiente. Luego de cualquier actualización, nos autoriza a hacer cargos a las formas de pago
                correspondientes.</p></li>

                <li><p>Cancelación. Puede cancelar la membresía de TRIMOVI en cualquier momento, y continuará teniendo
                acceso al servicio hasta el final de su período de facturación. En la medida permitida por la ley
                aplicable, los pagos no son reembolsables y no se otorgarán reembolsos ni créditos por los periodos de
                membresía utilizados parcialmente o por el contenido de TRIMOVI no usado. Para cancelar, visite la
                página “Cuenta” y siga las instrucciones. Si cancela su membresía, su cuenta se cerrará automáticamente
                al final de su período de facturación actual. Para ver cuándo se cerrará su cuenta, haga clic en
                "Información de facturación" en la página "Cuenta". Si se suscribió a TRIMOVI mediante su cuenta con un
                tercero como Forma de pago y desea cancelar su membresía de TRIMOVI en cualquier momento, es posible que
                tenga que hacerlo a través de dicho tercero, ya sea, al visitar su cuenta con el tercero correspondiente
                para desactivar su renovación automática o al cancelar la suscripción al servicio de TRIMOVI a través de
                ese tercero.</p></li>

                <li><p>Cambios en el precio y Planes de suscripción. Podemos cambiar nuestros planes de suscripción y el
                precio de nuestro servicio de vez en cuando. Sin embargo, cualquier cambio en los precios o en los
                planes de suscripción se aplicará no antes de los 30 días siguientes a la notificación.</p></li>
                
                <h2> Servicio de TRIMOVI </h2>

                <li><p>Debe tener, al menos, 18 años de edad, o la mayoría de edad en su provincia, territorio o país,
                para ser miembro del servicio de TRIMOVI. Los menores solamente pueden usar el servicio bajo la
                supervisión de un adulto.</p></li>

                <li><p>El servicio de TRIMOVI y todo el contenido al que se accede en él son solo para uso personal, no
                comercial, y no debe compartirse con personas que no sean miembros de su hogar. Durante la membresía de
                TRIMOVI, le otorgamos un derecho limitado, no exclusivo e intransferible para acceder al servicio y al
                contenido de TRIMOVI. Más allá de esto, no se le transferirá ningún otro derecho, título o interés.
                Usted acepta que no usará el servicio para presentaciones públicas.</p></li>

                <li><p>Usted puede acceder al contenido de TRIMOVI principalmente en el país donde estableció su cuenta y
                solo en los lugares geográficos en los que ofrecemos nuestro servicio y donde se tenga licencia para ese
                contenido. El contenido que puede estar disponible puede variar según la ubicación geográfica y cambia
                periódicamente. La cantidad de dispositivos en los que puede ver simultáneamente depende del plan de
                suscripción elegido y se especifica en la página “Cuenta”.</p></li>

                <li><p>TRIMOVI actualiza el servicio continuamente, incluido su catálogo de contenido. Además, probamos
                regularmente varios aspectos de nuestro servicio, tales como nuestros sitios web, las interfaces de
                usuario, las funciones promocionales y la disponibilidad de contenido de TRIMOVI. Usted puede desactivar
                en cualquier momento su participación en pruebas visitando la página "Cuenta" y cambiando la
                configuración de "Participación en pruebas".</p></li>

                <li><p>Parte del contenido de TRIMOVI está disponible para descarga temporal y visualización offline en
                ciertos dispositivos compatibles (“Títulos offline”). Se aplican restricciones, incluidas las
                restricciones a la cantidad de Títulos offline por cada cuenta, la cantidad máxima de dispositivos que
                pueden contener Títulos offline, el período en el cual deberá comenzar a ver los Títulos offline y
                cuánto tiempo permanecerán accesibles los Títulos offline. Es posible que algunos Títulos offline no se
                puedan reproducir en determinados países y que, si se conecta en un país en el que no se puede hacer
                streaming de ese Título offline, dicho título no se pueda reproducir mientras esté en ese país.</p></li>

                <li><p>Acepta usar el servicio de TRIMOVI, incluidas todas las características y funcionalidades asociadas
                con éste, bajo conformidad con todas las leyes, normas y reglamentaciones vigentes, o cualquier otra
                restricción al uso del servicio o sus contenidos. Usted acepta no archivar, reproducir, distribuir,
                modificar, mostrar, ejecutar, publicar, otorgar licencias, crear obras derivadas basadas en el servicio,
                u ofrecer en venta, o usar (a excepción de que se autorice explícitamente en estos Términos de uso)
                contenido e información contenida en u obtenida a través del servicio de TRIMOVI. Usted también acepta:
                no evitar, eliminar, alterar, desactivar, interferir con o burlar las protecciones de contenido del
                servicio de TRIMOVI; no usar ningún robot, spider, scraper u otra forma automatizada para acceder al
                servicio de TRIMOVI; ni descompilar, realizar ingeniería inversa, desarmar el software u otro producto o
                proceso a los que se acceda a través del servicio de TRIMOVI; no introducir de alguna manera un código o
                producto o manipular el contenido del servicio de TRIMOVI; ni usar método alguno de análisis, extracción
                u obtención de datos. Asimismo, se compromete a no subir, publicar, enviar por email ni transmitir de
                cualquier otra forma ningún material diseñado para interrumpir, destruir o limitar la funcionalidad del
                software de computación, hardware o equipos de telecomunicaciones asociados con el servicio de TRIMOVI,
                incluido material que contenga virus de software o cualquier otro código, archivos o programas.
                Podríamos terminar o restringir su uso de nuestro servicio si usted viola cualquiera de los Términos de
                uso o usa el servicio de forma ilegal o fraudulenta.</p></li>

                <li><p>La calidad de la imagen del contenido de TRIMOVI puede variar de dispositivo a dispositivo y puede
                verse afectada por diversos factores, tales como la ubicación, el ancho de banda disponible o la
                velocidad de la conexión a internet. La disponibilidad del contenido en alta definición (HD), ultra alta
                definición (Ultra HD) y alto rango dinámico (HDR) depende de su servicio de internet y del dispositivo
                en uso. No todo el contenido está disponible en todos los formatos, como HD, Ultra HD o HDR, ni todos
                los planes de suscripción le permiten recibir contenido en todos los formatos. La configuración de
                reproducción predeterminada en las redes celulares excluye contenido HD, Ultra HD y HDR. La velocidad
                mínima de conexión para la calidad SD es de 1.0 Mb/s. Sin embargo, recomendamos una conexión más rápida
                para mejorar la calidad de video. Se recomienda una velocidad de descarga de, al menos, 3.0 Mb/s por
                stream para recibir contenido HD (definido como una resolución de 720p o más alta). Se recomienda una
                velocidad de descarga de, al menos, 15.0 Mb/s por stream para recibir contenido Ultra HD (definido como
                una resolución de 4K o más alta). Todos los cargos de acceso a internet correrán por su cuenta. Solicite
                a su proveedor de internet información acerca de los posibles cargos de consumo de datos por uso de
                internet. El tiempo que lleva comenzar a ver contenido de TRIMOVI variará según diversos factores,
                incluido el lugar donde se encuentra, el ancho de banda disponible en ese momento, el contenido que haya
                seleccionado y la configuración de su dispositivo listo para TRIMOVI.</p></li>

                <li><p>El software de TRIMOVI es desarrollado por TRIMOVI o a pedido de TRIMOVI, y solo puede utilizarse
                para hacer streaming autorizado y para acceder al contenido de TRIMOVI a través de dispositivos listos
                para TRIMOVI. Este software puede variar según el dispositivo y el medio, y la funcionalidad y las
                funciones también pueden variar de un dispositivo a otro. Usted reconoce que el uso del servicio puede
                requerir software de terceros que esté sujeto a licencias de terceros. Usted acepta que puede recibir
                automáticamente versiones actualizadas del software de TRIMOVI y el software relacionado de terceros.
                Contraseñas y acceso a la cuenta. El miembro que creó la cuenta de TRIMOVI y al que se le facturan los
                cargos a través de su Forma de pago (el “Titular de la cuenta”) es responsable de cualquier actividad
                que ocurra en la cuenta de TRIMOVI. Para mantener el control sobre la cuenta y evitar que alguien acceda
                a la cuenta (que incluiría información sobre el historial de visualización de la cuenta), el Titular de
                la cuenta debería mantener el control sobre los dispositivos listos para TRIMOVI que se utilizan para
                acceder al servicio y no revelar a nadie la contraseña ni la información de la Forma de pago asociada
                con la cuenta. Es su responsabilidad actualizar y mantener la exactitud de la información personal que
                nos brinda respecto de su cuenta. Podemos decidir cancelar su cuenta o suspenderla para protegerlo a
                usted, a TRIMOVI o a nuestros socios contra el robo de identidad u otra actividad fraudulenta.
                Exclusión de garantías y limitaciones a la responsabilidad. El servicio de TRIMOVI se ofrece “tal cual”,
                sin garantía ni condición. En particular, nuestro servicio no se declara sin interrupciones ni sin
                errores. Usted renuncia a todos los daños especiales, indirectos y consecuentes contra nosotros. Estos
                términos no limitarán las garantías no renunciables ni los derechos de protección al consumidor a los
                que usted tenga derecho bajo las leyes imperativas de su país de residencia.
                Renuncia a la acción colectiva. EN LA MEDIDA EN QUE LAS LEYES APLICABLES LO PERMITAN, USTED Y TRIMOVI
                ACUERDAN QUE CADA UNO PUEDE PRESENTAR RECLAMOS CONTRA LA OTRA PARTE SOLO EN NOMBRE PROPIO, Y NO COMO
                ACTORA O PARTE DE UN GRUPO EN UNA ACCIÓN COLECTIVA O REPRESENTATIVA. Además, si la ley aplicable lo
                permite, a menos que tanto usted como TRIMOVI acuerden lo contrario, el tribunal no podrá acumular las
                causas de más de una persona con su causa o, de lo contrario, no podrá presidir ninguna acción
                representativa o colectiva.</p></li>
               
                <h2> Disposiciones varias </h2>

                <li><p>Ley vigente. Estos Términos de uso se regirán e interpretarán de conformidad con las leyes del
                estado de Delaware, EE. UU., sin perjuicio de cualquier disposición de derecho internacional privado.</p></li>

                <li><p>Material no solicitado. TRIMOVI no acepta materiales ni ideas no solicitados para su contenido, y
                no es responsable por la similitud entre los contenidos o la programación de cualquier medio con los
                materiales o ideas transmitidos a TRIMOVI.</p></li>

                <li><p>Servicio al cliente. Si necesita obtener más información sobre nuestro servicio y sus funciones, o
                si necesita asistencia con su cuenta, visite el Centro de ayuda de TRIMOVI, al que puede acceder a
                través del sitio web TRIMOVI.com. En algunos casos, el Servicio al cliente podrá ayudarlo mejor
                utilizando una herramienta de asistencia de acceso remoto con el que se accede completamente a su
                computadora. Si no desea que tengamos este acceso, usted no debería autorizar la asistencia a través de
                la herramienta de acceso remoto y nosotros le ayudaremos de otra forma. En el caso en que haya un
                conflicto entre estos Términos de uso y la información proporcionada por el Servicio al Cliente u otras
                secciones de nuestros sitios web, estos Términos de uso dirimirán cualquier diferencia.</p></li>

                <li><p>Continuación de vigencia. Si alguna de las disposiciones de estos Términos de uso es declarada
                nula, ilegal o inaplicable, la validez, legalidad y aplicación de las restantes disposiciones
                continuarán en plena vigencia.</p></li>

                <li><p>Cambios en los Términos de uso y cesión. TRIMOVI puede cambiar estos Términos de uso cuando sea
                necesario. Le informaremos con al menos 30 días de anticipación si estos cambios se aplican a usted.
                Podemos ceder o transferir nuestro acuerdo con usted, incluidos nuestros derechos asociados y nuestras
                obligaciones en cualquier momento y usted acepta cooperar con nosotros en relación con dicha cesión o
                transferencia.</p> </li>

                <li><p>Comunicaciones electrónicas. Le enviaremos la información relativa a su cuenta (por ejemplo, las
                autorizaciones de pago, las facturas, los cambios de contraseña o de la forma de pago, los mensajes de
                confirmación, los avisos) de manera electrónica únicamente, por ejemplo, mediante emails a la dirección
                de email proporcionada durante el registro.
                Última actualización: 2 de noviembre de 2021
                </p> </li>
        </ol>
        </article>

    </main>
</body>

</html>